streamlit==1.45.1
streamlit-audiorec==0.1.0

plotly==5.18.0
matplotlib==3.7.1
seaborn

pandas==2.1.4
numpy==1.26.4

librosa==0.10.1
audioread
soundfile
numba

scikit-learn==1.3.2
tensorflow==2.13.0
joblib==1.3.2

termcolor
